@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

.Typewriter span {
    font-size: 48px;
    font-weight: bold;
    margin-top: 12px;
    /* color: rgb(110, 231, 183); */
}

.box {
    clip-path: circle(75%);
    transition: clip-path 1s;
}

.box:hover {
    clip-path: circle(25%);
}

@keyframes circle {
    0% {
        clip-path: circle(75%);
    }

    100% {
        clip-path: circle(25%);
    }
}