@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

.Typewriter span {
    font-size: 48px;
    font-weight: bold;
    margin-top: 12px;
    color: #6EE7B7;
}