@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Advent Pro', sans-serif;
}

.Typewriter span {
    font-size: 48px;
    font-weight: bold;
    margin-top: 12px;
}



.image-container {
    height: 400px; 
    width: 100%; 
    overflow: hidden;
    background-color: black;   
    border-radius: 8px; 
}


.image-container .image1 {
    background-image: url(./assets/project1.png);
    background-size: cover;
    background-position: top;
    height: 100%;
    transition: 1s ease-in-out;
  }
.image-container .image2 {
    background-image: url(./assets/project2.png);
    background-size: cover;
    background-position: top;
    height: 100%;
    transition: 1s ease-in-out;
  }
.image-container .image3 {
    background-image: url(./assets/project3.png);
    background-size: cover;
    background-position: top;
    height: 100%;
    transition: 1s ease-in-out;
  }
.image-container .image4 {
    background-image: url(./assets/project0.png);
    background-size: cover;
    background-position: top;
    height: 100%;
    transition: 1s ease-in-out;
  }

  .image-container .image1:hover {
    background-position: bottom ;
  }
  .image-container .image2:hover {
    background-position: bottom ;
  }
  .image-container .image3:hover {
    background-position: bottom ;
  }
  .image-container .image4:hover {
    background-position: bottom ;
  }

  .active {
    background-color: #0c6474!important;
    color: white!important;
    border-radius: 0;
    border-bottom: 2px solid white;
  }
  
  .navbar ul li a:hover {
    color: white;
    background-color: transparent!important; 
  }
  button a{
    border: 0;
  }